<!-- <div>
    <h4 class="dialog-headline"> MESSAGE FORM
        <span>
            <mat-icon class="pull-right close-icon" (click)="onCloseDialog()">close</mat-icon>
        </span>
    </h4>

</div>
<form [formGroup]="messageForm" (ngSubmit)="submit()">
    <div class="tab-content">
        <div class="content-container tab-content-height">
            <mat-form-field>
                <mat-label>Enter your Name</mat-label>
                <input matInput formControlName="name" placeholder="Name">
            </mat-form-field>

            <br>
            <mat-form-field>

                <mat-label>Enter Message </mat-label>
                <input matInput formControlName="message" placeholder="Message">
            </mat-form-field>
            <mat-dialog-actions class="pull-right">
                <button mat-raised-button color="primary" type="submit" 
                    style="margin-left: 20px;"  [disabled]="messageForm.invalid"> Save
                </button>
                <button mat-raised-button color="warn"  (click)="onCloseDialog()"
                style="margin-left: 20px;">Cancell
            </button>
            </mat-dialog-actions>
        </div>
    </div>

</form> -->


TABLE COMPONENT